body {
	background-color: #F2E5D5;
	color: #777777;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  margin: 0;
  line-height: 1.5;
	background-image: url("../images/Lure.jpg");
	padding-top: 100px;
}
	

h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
}

/* Navbar Styling */

.navbar-brand {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-color:#4aaaa5;
	color: white !important;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 30px;
}


/* Jumbotron Background color Styling, used within container for all html documents. */

.jumbotron {
  background-color: white; 
}



/* Add space between photo and wrapping text on index */

img {
 padding-right: 30px; 
}



/* Footer Styling */

.footer {
	background-color: #666666;
	color: #cccccc;
	text-align: center;
	line-height: 50px;
	position: fixed;
	height: 50px;
	bottom: 0;
	width: 100%;
	border-top: 2px solid #4aaaa5;
}


/* Portfolio Styling */

.my-8 {
	margin-bottom: 50px;
}

.caption {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	font-weight: bold;
	color: white; 
	text-align: center;
	background-color: #4aaaa5;
	margin-bottom: 50px;
}


 .center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}